/* Reset margins and height for html and body */
html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* background: linear-gradient(to left, #EBF4F6, #ffffff); */
    background-color: #F2F2F2;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
}

#openSidebar {
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.7s;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 60px;
    transition: width 0.6s;
    opacity: 1;
    overflow-x: hidden;
    white-space: nowrap;
    background-color: #F9F7F7;
    position: fixed;
    top: 0;
    bottom: 0;
    height: auto;
    z-index: 100;
}

.sidebar a {
    display: flex;
    align-items: center;
    padding: 16px;
    color: #112D4E;
    text-decoration: none;
    transition: color 0.3s ease;
    /* เพิ่ม transition สำหรับลิงก์ */
}

.sidebar a:hover {
    color: #3F72AF;
    /* เปลี่ยนสีไอคอนเมื่อเอาเมาส์ไปชี้ */
}

.sidebar a .link-text {
    display: none;
    /* ซ่อนข้อความเริ่มต้น */
    margin-left: 10px;
    text-decoration: none;
    transition: color 0.1s ease;
}

.sidebar:hover {
    width: 200px;
}

.sidebar:hover .link-text {
    display: inline;
    /* แสดงข้อความเมื่อเมาส์ชี้ */
}

.sidebar a:hover .link-text {
    color: #3F72AF;
    /* เปลี่ยนสีข้อความภายในลิงก์เมื่อ hover */
}

/* Style สำหรับปุ่มเปิดแถบข้าง */
#openSidebar {
    font-size: 24px;
    color: #112D4E;
    padding: 16px;
    cursor: pointer;
    display: block;
}

/* Style สำหรับปุ่มเมื่อเมาส์ชี้ไปที่แถบข้าง */
.sidebar:hover #openSidebar {
    transform: translateX(140px);
    /* ขยับปุ่มไปทางขวาเมื่อเมาส์ชี้ไปที่แถบข้าง */
    color: #DBE2EF;
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
        /* ซ่อน sidebar */
    }

    #openSidebar {
        display: block;
        /* แสดงปุ่มเปิด */
    }
}


.navbar-toggler-icon {
    background-color: #DBE2EF;
    /* White color for the hamburger icon */
}

.link-style {
    color: #ffffff;
    /* White text color for the links */
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 15px;
}

.link-style .link-text {
    margin-left: 10px;
}

@media screen and (min-width:1024px) {
    .navbar {
        display: none;
        /* Hide navbar on larger screens */
    }
}


@media screen and (max-width: 1024px) {
    .sidebar {
        display: none;
        /* Hide sidebar on small screens */
    }

    .navbar-nav {
        text-align: center;
        width: 100%;
    }

    .navbar-nav .nav-item {
        margin: 0;
    }

}



#map {
    width: 100%;
    height: 640px;
    border-radius: 10px;
    z-index: 1;
    position: relative;

}


/* General styling for form elements */
.select {
    margin: 5px;
    width: 100%;
    box-sizing: border-box;
}

.fw-bolder {
    font-size: 25px;
    padding-top: 20px;
}

.text-uppercase {
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-top: 1rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center button {
    margin-bottom: 30px;
    border-radius: 15px;

}

/* CSS สำหรับ side-image-container */
#side-image-container {
    position: relative;
    bottom: 600px;
    left: 1030px;
    display: none;
    border: 2px solid #fafafe;
    width: 450px;
    height: 350px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-left: 0px;
}

#side-image {
    width: 450px;
    height: 350px;
    box-sizing: border-box;
    border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 1440px) {
    #side-image-container {
        position: static;
        margin: 20px auto;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 2px solid #fafafe;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        display: none;

    }

    #map {
        width: 100%;
    }


}

.form-check {

    padding-top: 15px;
}

#openModalBtn {
    margin-top: 5px;
}

#footer {

    background-color: #112D4E;
    padding: 10px;
    width: 100%;
    height: 50px;
    text-align: center;
    color: #ffffff;
    margin-top: 0;

}